
body {
margin: 0px;
}

#header {
    color: rgb(48, 66, 255);
    font-family: "Helvetica", sans-serif;
    font-size: 50px;
    text-align: center;
  }

.top {
    background-color: lavenderblush;
    padding: 10px
  }

a {
  font-family: monospace;
  color: cornflowerblue;
}

footer {
        color: rgb(245, 2, 237);
        padding: 10px;
        font-family: "lucida-console", monospace;
        margin-left: 10px
    }
