@property --border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #5341a3;
}

@property --header-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #4e7aff;
}

@property --inner-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #ff328b;
}

@property --header-bg-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #7dffc9;
}

@property --img-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #2b60ff;
}

@property --text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #e375ff;
}

body {
  margin: 0px;
  background-color: var(--border-color);
  background-image: url("youtubebanner.png");
  background-position: center;
  box-sizing: border-box;
  font-family: "lucida-console", "courier-new", monospace;
  color: var(--text-color);
}

.gallery-nav {
  color: var(--text-color);
  padding-left: 5px;
  padding-top: 5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.gallery-nav a {
  color:#e375ff;
}

.gallery-nav a:hover {
  color:#7032ff;
  background-color: white;
}

.gallery-header-2 {
  color: var(--text-color);
  padding-left: 5px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: helvetica;
  font-size: 30px;
}

hr.solid {
  border-top: 2px solid var(--border-color);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.chapter-centered { 
  text-align: center;
}

.chapter-text {
  padding-left: 5px;
  padding-right: 5px;
}

.chapter-btns {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  display:flex;
  justify-content: space-between;
}

.chapter-btns button {
  background-color: var(--header-bg-color);
  border-radius: 20px;
  border: 5px solid var(--header-bg-color);
  font-family: "lucida-console", "courier-new", monospace;
  color: var(--header-text-color);
}

.all {
  width: 80%;
  margin: 0 auto;
  border-left:10px solid var(--inner-border-color);
  border-right: 10px solid var(--inner-border-color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.no-foot {
  flex: 1;
}

#header {
  color: var(--header-text-color);
  font-family: "Helvetica", sans-serif;
  font-size: 50px;
  text-align: center;
}

.top {
  background-color: var(--header-bg-color);
  padding: 10px;
}

.top-nav {
  background-color: var(--header-bg-color);
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: -20px;
}

footer a {
  color: inherit;
  font-family: inherit;
}

nav a {
  font-family: monospace;
  color: var(--img-border-color);
  border: 5px solid white;
  background-color: white;
  border-radius: 20px;
  padding: 2.5px;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color:#22b8f8;
  border-color: #c7ffee;
  background-color: #c7ffee;
}

footer a:hover {
  color:var(--text-color);
}

footer {
  color: var(--text-color);
  padding: 10px;
  font-family: "lucida-console", "courier-new", monospace;
}

#wyvern {
  color: var(--text-color);
  padding: 10px;
  font-family: "lucida-console", "courier-new", monospace;
  line-height: 20px;
}

img {
  border: 5px solid var(--img-border-color);
  width: 200px;
}

#intro {
  font-weight: bold;
}

.artworks {
  display: flex;
  flex-flow: wrap;
  align-items: start;
}

.artworks img {
  border: 5px solid var(--img-border-color);
  width: 200px;
  transition: transform .2s;
  margin-top: 5px;
}

.artworks img:hover {
  transform: scale(1.1);
}

.artworks p {
  writing-mode: vertical-rl;
  margin-top: 5px;
}

.gallery-p {
  padding-left: 5px;
  padding-right: 5px;
}

.gallery-p a {
  color:#e375ff
}

.gallery-p a:hover {
  color:#7032ff;
  background-color: white;
}

.centered-text {
  text-align: center;
}

p a {
  color: var(--text-color);
}

p a:hover {
  color:#cc02ff;
  background-color:#b8eaff;
}